<div class="container">
    <hr>
    <footer>
        <!--<a href="./about" {% if page.url == "/about/index.html" %}class="current"{% endif %}>About</a> |-->
        <a href="./getstarted" {% if page.url == "/getstarted/index.html" %}class="current"{% endif %}>Get Started</a> |
        <a href="./documentation" target="_blank" {% if page.url == "/documentation/index.html" %}class="current"{% endif %}>Documentation</a> |
        <a href="./samplecode" {% if page.url == "/samplecode/index.html" %}class="current"{% endif %}>Sample Code</a> |
        <a href="./gethelp" {% if page.url == "/gethelp/index.html" %}class="current"{% endif %}>Get Help</a> |
        <a href="https://github.com/openshift/openshift-java-client" target="_blank">Source Code</a> |
        <a href="./joinus" {% if page.url == "/joinus/index.html" %}class="current"{% endif %}>Join Us</a>
        <p class="copyright">
            Copyright &copy; 2011 Red Hat, Inc.
            Distributed under license by Red Hat, Inc. All rights reserved.<br />
            This program is made available under the terms of the
            Eclipse Public License v1.0 which accompanies <a href="https://github.com/openshift/openshift-java-client" target="_blank">this distribution</a>,
            and is available <a href="http://www.eclipse.org/legal/epl-v10.html" target="_blank">here</a>.<br />
        </p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery-1.10.2.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
</body>
</html>