<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../">OpenShift Java Client</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
               <!-- <li><a href="../about" {% if page.url == "/about/index.html" %}class="current"{% endif %}>About</a></li>-->
                <li><a href="../getstarted" {% if page.url == "/getstarted/index.html" %}class="current"{% endif %}>Get Started</a></li>
                <li><a href="../documentation" target="_blank" {% if page.url == "/documentation/index.html" %}class="current"{% endif %}>Documentation</a></li>
                <li><a href="../samplecode" {% if page.url == "/samplecode/index.html" %}class="current"{% endif %}>Sample Code</a></li>
                <li><a href="../gethelp" {% if page.url == "/gethelp/index.html" %}class="current"{% endif %}>Get Help</a></li>
                <li><a href="https://github.com/openshift/openshift-java-client" target="_blank">Source Code</a></li>
                <li><a href="../joinus" {% if page.url == "/joinus/index.html" %}class="current"{% endif %}>Join Us</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>