---
layout: default
title: Join Us
page_name: joinus
---
%h1 Join Us
%h3 Why Should I Help?
%p You're already reading this page so we can assume that you are a.) using this library for something and b.) interested in contributing somehow.  Great!
%p Open Source projects like this one can't survive without you, the user.  We love working on this project, and absolutely want to provide every update and fix that you, our users, want.  But we are a small team and can use all the help we can get.
%p Even if you don't have the time to hack away on this project, there are lots of things you can do to help.  Please read through the list in the next section and I am sure you can find something that you have the time to help with.
%h3 Ok, You Convinced Me.  How Can I Help?
%p Great, glad you made it to this section.  There are lots of ways that you can help:
%ul 
  %li Spread the word about the OpenShift Java Client library.  If you have friends or co-workers who are interested in both Java and OpenShift, and looking for an Open Source project to work on, this could be a great match!
  %li Use the library and file Bug Reports on the <a href="https://issues.jboss.org/browse/OSJC" target="_blank">JIRA Issue Tracker</a>
  %li Think up great new ideas for this library, and create a Feature Request on the <a href="https://issues.jboss.org/browse/OSJC" target="_blank">JIRA Issue Tracker</a>
  %li Help keep this website, and the documenation for the OpenShift Java Client up to date by fixing spelling/grammatical errors, documenting methods, or adding code samples.  Just for <a href="https://github.com/openshift/openshift-java-client.git" target="_blank">this repository</a> on github and checkout the gh-pages branch.  It uses Jekyll and is written in HTML/CSS using Bootstrap.
  %li Review the list of Feature Requests and Bug Reports on the JIRA Issue Tracker and see if there is anything that you would like to work on.  Make sure that you sign up for an account on the <a href="https://community.jboss.org" target="_blank">JBoss Community Site</a> so that you can take ownership of issues and comment on them.

%p If you have any other ideas of how you can contribute feel free to run them by us using the contact information on the <a href="../gethelp">Get Help</a> page.

%h3 Project Best Practices

%strong Communication
%p Communication is the key to keeping any good project rolling in the right direction.  Anything that is being worked on, Bugs, Feature Requests, Documenation efforts, are all tracked in the <a href="https://issues.jboss.org/browse/OSJC" target="_blank">JIRA Issue Tracker</a>.  This makes sure that everyone is on the same page and that there are no duplication of efforts.
%p If you want to work on an existing Bug or Feature request, please check the JIRA issue for it and make sure that no one else has already claimed it.  Also comment letting everyone know that you want to work on it and ask that the issue be assigned to you (or assign it to yourself if you have the correct permissions).
%p If you would like to work on an Bug or Enhancement that you have come up with, please log it in the <a href="https://issues.jboss.org/browse/OSJC" target="_blank">JIRA Issue Tracker</a> and get some feedback first.  This make sure that no one else is working on the issue without coordinating on it, and that the issue can be properly tracked and prioritized within the project.
%p If you have any questions at all please don't hesitate to ask them on the JIRA issue, or using any of the methods listed on the <a href="../gethelp">Get Help</a> page.  We want to make it as easy as possible to help with the project and also keep the project moving in the right direction.

%strong Javadoc
%p We are strong proponents of well documented code and use <a href="http://www.oracle.com/technetwork/java/javase/documentation/index-jsp-135444.html" target="_blank">Javadoc</a> extensively.  The documentation section of this website is built by running the Javadoc tool against this code using the command <code>mvn javadoc:javadoc</code>.  Please document any new classes or methods, and make sure to update the comments for any existing code that you update.

%h3 Getting The Code and git Best Practices
%ol 
  %li Create an account on github if you don't already have one at <a href="https://github.com" target="_blank">github.com</a>.
  %li Fork the <a href="https://github.com/openshift/openshift-java-client" target="_blank">OpenShift java Client</a> project to your github account.
  %li
    Clone your newly forked repository into your local workspace
    :plain
      <pre name="code" class="java:nocontrols">
      User$ git clone git@github.com:[your user]/openshift-java-client.git
      Cloning into 'openshift-java-client'...
      remote: Reusing existing pack: 4745, done.
      remote: Total 4745 (delta 0), reused 0 (delta 0)
      Receiving objects: 100% (4745/4745), 1.92 MiB | 1.52 MiB/s, done.
      Resolving deltas: 100% (1475/1475), done.
      Checking connectivity... done
      </pre>
    
    %li
      Add a remote ref to upstream for pulling future updates
      :plain
        <pre name="code" class="java:nocontrols">
        git remote add upstream https://github.com/openshift/openshift-java-client.git
        </pre>
    
    %li
      As a precaution, disable merge commits to your master branch
      :plain
        <pre name="code" class="java:nocontrols">
        git config branch.master.mergeoptions --ff-only
        </pre>
    
    %li
      To pull later updates from the upstream
      :plain
        <pre name="code" class="java:nocontrols">
        git pull --rebase upstream master
        </pre>
        (--rebase will automatically move your local commits, if you have any, on top of the latest branch you pull from, you can leave it off if you do not).

        Please note that --rebase is very important if you do have commits. What happens is that when git pull can't fast forward, it does a merge commit, and a merge commit puts the sucked in changes ON TOP of yours whereas a rebase puts them BELOW yours. In other words a merge commit makes the history a graph, and we prefer a cleaner, easier to follow linear history (hence the rebasing). Further once you do a merge commit it will be difficult to rebase the history before that commit (say you want to combine two commits to one later) as described in point 13. Luckily the option set in step 5 will prevent this from happening.
    
    %li
      Push the pulled updates to your fork of openshift-java-client on github
      :plain
        <pre name="code" class="java:nocontrols">
        git push
        </pre>
    
    %li Make sure there is a JIRA logged for your Bug Fix or Feature Request that you are working on <a href="https://issues.jboss.org/browse/OSJC" target="_blank">here</a>.
    %li
      Create a simple topic branch to isolate that work (just a recommendation)
      :plain
        <pre name="code" class="java:nocontrols">
        git checkout -b my_cool_feature
        </pre>
    
    %li
      Make the changes and commit one or more times (Don't forget to push)
      :plain
        <pre name="code" class="java:nocontrols">
        git commit -m 'OSJC-XXXX Making this awesome new feature'
        git commit -m 'OSJC-YYYY Fixing this really bad bug'
        git push origin my_cool_feature
        </pre>
    
    %li
      Rebase your branch against the latest master (applies your patches on top of master)
      :plain
        <pre name="code" class="java:nocontrols">
        git fetch upstream
        git rebase -i upstream/master
        # if you have conflicts fix them and rerun rebase
        # The -f, forces the push, alters history, see note below
        git push -f origin my_cool_feature
        </pre>
        The -i triggers an interactive update which also allows you to combine commits, alter commit messages etc. It's a good idea to make the commit log very nice for external consumption. Note that this alters history, which while great for making a clean patch, is unfriendly to anyone who has forked your branch. Therefore you want to make sure that you either work in a branch that you don't share, or if you do share it, tell them you are about to revise the branch history (and thus, they will then need to rebase on top of your branch once you push it out).
    
    %li
      Get your changes merged into upstream
      %ol
        %li Make sure your repo is in sync with other unrelated changes in upstream before requesting your changes be merged into upstream by repeating  step 11.
        %li Send a github pull request, by clicking the pull request link while in your repo's fork
        %li As part of the review you may see an automated test run comment on your request. Currently this link can only be viewed by Red Hat employees, but if you request a copy we can send you one. In the future we hope to make this public
        %li After review a maintainer will merge your patch, update/resolve issues by request, and reply when complete
        %li
          Don't forget to switch back to master and pull the updates
          :plain
            <pre name="code" class="java:nocontrols">
            git checkout master
            git pull --ff-only upstream master
            </pre>

        %li
          To update the master branch of your github repository (otherwise you will see a message like 'Your branch is ahead of 'origin/master' by XXX commits.'
          :plain
            if you are use 'git status' on your local master branch.
            <pre name="code" class="java:nocontrols">git push origin master</pre>

%h3 Setting Up Your IDE

%p If you are using Eclipse or IntelliJ IDEA to work on this project, you will need to create a Maven project, or import an existing Maven project.  This will allow the IDE to download the required dependencies, build the project (so that you don't get any nasty errors), and show you the test code coverage if applicable.

%h3 Writing Tests
%p All tests must pass before a pull request will be merged.  We also require that all new code, such as Feature Requests be covered by tests.  Tests are written using the junit 4.x framework and are located in the src/test/java directory. We also use the fest assertions (https://code.google.com/p/fest/) to take advantage of more expressive verification-(assertion) statements. We have both unit tests and integration tests. The unit tests do no remoting, they use pre-recorded answers that you may find in src/test/resources/samples/. To fake server responses we use mockito and mock the http-client we're using in the openshift-java-client (HttpClientMockDirector):
:plain
  <pre name="code" class="java:nocontrols">
  public HttpClientMockDirector mockGetAny(String response) throws
      SocketTimeoutException, HttpClientException {
      when(client.get(any(URL.class), anyInt())).thenReturn(response);
      return this;
  }
  </pre>
%p The tests are all in src/test/java. We name unit tests XXXTest.java and integration tests XXXIntegrationTest.java so that one immediately knows if the test is talking to the backend or not.

%h3 Running the Tests
%p You can either run the tests using your IDE or run the <code>mvn clean verify -Pintegration-tests</code> command in your terminal inside of the project directory that you cloned with git.  The integration tests take quite awhile to run so be patient.
%p You can also run <code>mvn clean verify -DshowTestTimes</code> or <code>mvn clean verify -Pintegration-tests -DshowTestTimes</code> to show the name of each test and how many milliseconds it took to run.
%p
  If you would like to single out a specific test to run (maybe one you are currently working on writing) you can do the following:
  %ul
    %li Running a single test class: <code>mvn -Dtest=APIResourceTest test</code>
    %li Running a single method in a test class: <code>mvn -Dtest=APIResourceTest#shouldLoadListOfStandaloneCartridges test</code>
    %li You can also combine this with the -DshowTestTimes like this: <code>mvn -Dtest=APIResourceTest test -DshowTestTimes</code>

%p You can read more about running specific tests <a href="http://maven.apache.org/surefire/maven-surefire-plugin/examples/single-test.html" target="_blank">here</a>.
%h3 Building the Library
%p To build the library, run the <code>mvn clean package</code> command in your terminal inside of the project directory that you cloned with git. This will create a new directory called <code>target</code> that will contain all of the compiled class files along with a JAR file, and a sources.JAR file for use in your projects.
%p You can also run the command <code>mvn clean install</code> which will install the library in your ~/.m2 directory.  You can then include the library in your project by adding the correct configuration to your pom.xml such as:
:plain
  <pre name="code" class="xml:nocontrols">
  &lt;dependencies&gt;
      &lt;dependency&gt;
          &lt;groupId&gt;com.openshift&lt;/groupId&gt;
          &lt;artifactId&gt;openshift-java-client&lt;/artifactId&gt;
          &lt;version&gt;2.5.1-SNAPSHOT&lt;/version&gt;
      &lt;/dependency&gt;
  &lt;/dependencies&gt;
  </pre>
%p When you are testing locally it is Maven convention to use version-SNAPSHOT for any non-finalized versions.  Also remember to increment the minor or major version depending on the scale of the changes you have made to the source code.

%h3 Updating this website and adding documentation
%p
  Just as important as adding new features and fixing bugs is helping others figure out how to use this library in their own projects.  That is where this website and the <a href="../documenation">documentation</a> section comes into play.  If you notice an error on this website or have some knowledge that would be useful to others?  Have some extra time to document a method?
  %ul
    %li Fork the repository on github
    %li Checkout the gh-pages-awestruct branch
    %li Read the README.md for that branch
    %li Add your fix or new information
    %li Commit your change locally
    %li Push your change to your repo on github
    %li Do a pull request
    
  Now just sit back, relax, and give yourself a high five while we review your change and merge it.  We'll let you know if we have any questions or something in your change needs to be corrected.

%p We use <a href="http://http://awestruct.org/" target="_blank">Awestruct</a> for this website and the documentation.  Most of it is static HTML/CSS with Awestruct handling the templates (header, footer, navigation, etc).

%h3 Thanks
%p
A special thanks to the WildFly team for putting together <a href="https://community.jboss.org/wiki/HackingOnWildFly" target="_blank">this page</a> which was the inspiration for the git tips listed here.

